antlr4-python3-runtime==4.9.3
astroid==2.9.3
attrs==21.4.0
autoflake==1.4
black==22.1.0
certifi==2020.6.20
click==8.0.4
iniconfig==1.1.1
isort==5.10.1
lazy-object-proxy==1.7.1
mypy-extensions==0.4.3
numpy==1.22.3
packaging==21.3
pathspec==0.9.0
platformdirs==2.5.1
pluggy==1.0.0
py==1.11.0
pyflakes==2.4.0
pyparsing==3.0.7
pytest==7.0.1
tomli==2.0.1
